<h1> Moradores </h1>

<table>

    <thead>

        <tr>

            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>

        </tr >

    </thead >

    <tbody >

        <% @moradores.each do |morador| %>
    
        <tr>
    
            <td ><%= morador.nome %></td>
            <td ><%= morador.num_apto%></td >
            <td ><%= morador.cpf%></td >
        
        </tr >
    
        <% end %>
    
    </tbody >
    
</table >